<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

  <form action="/submit" method="POST">
    <select name="group">
      <% groups.forEach( group => {%>
      <option value="<%= group.G_id %>"><%= group.Name %></option>
      <%})%>
    </select>
    <select name="skill">
      <% skills.forEach( skill => {%>
        <option value="<%= skill.S_id %>"><%= skill.Skills %></option>
      <%})%>
    </select>
    <input name="date" type="date">
    <input type="submit">
  </form>


  </body>
</html>
